*, *::before, *::after {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 7rem;
  background-color: #1a2a4f;
  color: #f0f0f0;
  width: 150%;
  padding: 10px;
}

h1, h3 {
  margin: 0.5rem;
}

body {
  background-color: #f9f4e5;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

form, #output-container {
  background: #f0f0f0;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 600px;
  min-height: 120px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3rem;
  overflow-wrap: break-word;
}

input[type="text"], textarea {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #acacac;
  border-radius: 10px;
  font-size: 1rem;
}

button {
  background-color: #1a2a4f;
  color: #f0f0f0;
  border: none;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #283b69;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: .7;
}

#output-label {
  font-weight: bold;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

#input-label {
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

#output-text {
  font-family: monospace;
  font-size: .95rem;
}
